/* Overall parametrics */


body {
	width: 100%;
	margin:  0px;
	padding: 0px;
	display: grid;
	position: static;
    overflow: scroll;
	font-family: 'Poppins';
}

@media only screen and (min-width: 1225px) {
.main-desktop {
	justify-content: center;
	width: 80%;
	margin: auto;

}
}
@media only screen and (max-width: 1225px) {
.main-desktop {
	display: none;

}
}
@media only screen and (max-width: 1225px) {
.main-mobile {
		justify-content: center;
		width: 90%;
		margin: auto;
	
	}
	}
	@media only screen and (min-width: 1225px) {
.main-mobile {
		display: none;
	
	}
	}

/* Fonts */

.content h1 {
	color: #1e1e1e;
	line-height: 1.2em;
	font-size: 2.8em;
	font-weight: 900;
	font-family: 'Poppins';
}
.content h2 {
	color: #1e1e1e;
	font-size: 2.1em;
	letter-spacing: 0.05em;
	line-height: 1.3em;
	font-weight: 800;
	font-family: 'Poppins';
}
.content h3 {
	color: #1e1e1e;
	font-size: 2em;
	letter-spacing: 0.05em;
	line-height: 1.2em;
	font-weight: 800;
	font-family: 'Poppins';
}
.content h4 {
	color: #1e1e1e;
	font-size: 1.2em;
	letter-spacing: 0.05em;
	line-height: 1.2em;
	font-weight: 800;
	font-family: 'Poppins';
}
.content h5 {
	margin-top: -30px;
	color: rgba(0,29,167,1.00);
	font-size: 1.6em;
	letter-spacing: 0.05em;
	font-weight: 300;
	line-height: 1.3em;
	font-style: italic;
	font-family: 'Poppins';
}
.content h6 {
	color: #1e1e1e;
	font-size: 1.3em;
	letter-spacing: 0.05em;
	line-height: 1.4em;
	font-weight: 500;
	font-style: italic;
	font-family: 'Poppins';
}
.content p {
	color: #000;
	letter-spacing: 0.1em;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 400;
	font-family: 'Poppins';
}
.content a {
	color: #000C96;
	text-decoration: underline;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 500;
	font-family: 'Poppins';	
}

.mobile-content h1 {
	color: #1e1e1e;
	text-align: center;
	line-height: 1.1em;
	font-size: 2.8em;
	font-weight: 900;
	font-family: 'Poppins';
}
.mobile-content h2 {
	color: #1e1e1e;
	text-align: center;
	font-size: 2.1em;
	letter-spacing: 0.05em;
	line-height: 1.3em;
	font-weight: 800;
	font-family: 'Poppins';
}
.mobile-content h3 {
	color: #1e1e1e;
	text-align: center;
	font-size: 2em;
	letter-spacing: 0.05em;
	line-height: 1.2em;
	font-weight: 800;
	font-family: 'Poppins';
}
.mobile-content h4 {
	color: #1e1e1e;
	text-align: center;
	font-size: 1.2em;
	letter-spacing: 0.05em;
	line-height: 1.2em;
	font-weight: 800;
	font-family: 'Poppins';
}
.mobile-content h5 {
	margin-top: 0px;
	text-align: center;
	color: rgba(0,29,167,1.00);
	font-size: 1.6em;
	letter-spacing: 0.05em;
	font-weight: 300;
	line-height: 1.3em;
	font-style: italic;
	font-family: 'Poppins';
}
.mobile-content h6 {
	color: #1e1e1e;
	text-align: center;
	font-size: 1.3em;
	letter-spacing: 0.05em;
	line-height: 1.4em;
	font-weight: 500;
	font-style: italic;
	font-family: 'Poppins';
}
.mobile-content p {
	color: #000;
	text-align: center;
	letter-spacing: 0.1em;
	text-align: center 	;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 400;
	font-family: 'Poppins';
}
.mobile-content a {
	color: #000C96;
	text-align: center;
	text-decoration: underline;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 500;
	font-family: 'Poppins';	
}

.hamburgermenu a{
	color: #f4f4f4;
	text-decoration: none;
	font-size: 0.9em;
	line-height: 1.5em;
	font-weight: 300;
	font-family: 'Poppins';
}

.footer h1 {
	color: #f4f4f4;
	line-height: 1.2em;
	font-size: 1em;
	font-weight: 700;
	font-family: 'Poppins';
}
.footer h2 {
	margin-top: 35px;
	color: #f4f4f4;
	font-size:0.85em;
	text-decoration: underline;
	letter-spacing: 0.05em;
	line-height: 0.4em;
	font-weight: 600;
	font-family: 'Poppins';
}
.footer h3 {
	color: #f4f4f4;
	font-size: 2em;
	letter-spacing: 0.05em;
	line-height: 1.2em;
	font-weight: 800;
	font-family: 'Poppins';
}
.footer h4 {
	color: #f4f4f4;
	font-size: 1.2em;
	letter-spacing: 0.05em;
	line-height: 1.2em;
	font-weight: 800;
	font-family: 'Poppins';
}
.footer h5 {
	margin-top: -30px;
	margin-bottom: 80px;
	color: rgba(0,29,167,1.00);
	font-size: 1.6em;
	letter-spacing: 0.05em;
	font-weight: 300;
	line-height: 1.3em;
	font-style: italic;
	font-family: 'Poppins';
}
.footer h6 {
	color: #f4f4f4;
	font-size: 1.3em;
	letter-spacing: 0.05em;
	line-height: 1.4em;
	font-weight: 500;
	font-style: italic;
	font-family: 'Poppins';
}
.footer p {
	color: #f4f4f4;
	letter-spacing: 0.1em;
	font-size: 0.85em;
	line-height: 1.3em;
	font-weight: 300;
	font-family: 'Poppins';
}
.footer a {
	color:  #f4f4f4;
	text-decoration: none;
	font-size: 0.85em;
	line-height: 1.8em;
	font-weight: 300;
	font-family: 'Poppins';
	
}
.mobile-footer h1 {
	color: #f4f4f4;
	line-height: 1.2em;
	font-size: 1.3em;
	font-weight: 700;
	margin-top: 50px;
	font-family: 'Poppins';
}
.mobile-footer h2 {
	margin-top: 35px;
	color: #f4f4f4;
	font-size:0.85em;
	text-decoration: underline;
	letter-spacing: 0.05em;
	line-height: 0.4em;
	font-weight: 600;
	font-family: 'Poppins';
}
.mobile-footer h3 {
	color: #f4f4f4;
	font-size: 2em;
	letter-spacing: 0.05em;
	line-height: 1.2em;
	font-weight: 800;
	font-family: 'Poppins';
}
.mobile-footer h4 {
	color: #f4f4f4;
	font-size: 1.2em;
	letter-spacing: 0.05em;
	line-height: 1.2em;
	font-weight: 800;
	font-family: 'Poppins';
}
.mobile-footer h5 {
	margin-top: -30px;
	margin-bottom: 80px;
	color: rgba(0,29,167,1.00);
	font-size: 1.6em;
	letter-spacing: 0.05em;
	font-weight: 300;
	line-height: 1.3em;
	font-style: italic;
	font-family: 'Poppins';
}
.mobile-footer h6 {
	color: #f4f4f4;
	font-size: 1.3em;
	letter-spacing: 0.05em;
	line-height: 1.4em;
	font-weight: 500;
	font-style: italic;
	font-family: 'Poppins';
}
.mobile-footer p {
	color: #f4f4f4;
	letter-spacing: 0.1em;
	font-size: 0.85em;
	line-height: 1.3em;
	font-weight: 300;
	font-family: 'Poppins';
}
.mobile-footer a {
	color:  #f4f4f4;
	text-decoration: none;
	font-size: 0.85em;
	line-height: 1.8em;
	font-weight: 300;
	font-family: 'Poppins';
	
}

/* Grid blocks */

.full {
	width:100%;
}

.full-flex {
	width:100%;
	display: flex;
	padding: 35px 0px 45px 0px;
}

.one-third {
	width:33%;
	padding-right: 30px;
}
.one-third-last {
	width:33%;
}
.two-third {
	width:66%;
	padding-right: 45px;
}
.two-third-last {
	width:33%;
}	

.mobile-full {
	padding-top: 30px;
	padding-bottom: 30px;
}

.mobile-full-flex {
	width:100%;
	display: grid;
	padding: 30px 0px 30px 0px;
}

/* Header, Logo and Navigation */

.header {
	margin-bottom: 0px;
	
}

.header-banner {
	vertical-align: top;
	background-image: url("media/Accessus XPass + Smartphone app.jpg");
	background-size: cover;
	height:850px;
	z-index: -1;
	background-position: bottom;	
}

.header-bar {
	justify-content: center;
	width: 100%;
	margin: auto;
	background-color: rgba(30,30,30,0.9);
}

.header-container {
	justify-content: center;
	width: 80%;
	margin: auto;
}

.logo-container{
	width: 200px;
	padding-bottom: 18px;
}

@media only screen and (min-width: 1225px) {
.navigation {
	width: 80%;
	float: right;
	margin-top: 75px;
	text-align: right;
	vertical-align: middle;

}

.navigation a {
	margin-left: 10px;
	text-decoration: none;
	color: #fff;
	font-size: 0.95em;
	font-weight: 300;
	font-family: 'Poppins';
	margin-right: 40px;

}

.navigation a:hover{
	margin-left: 10px;
	color: #f4f4f4;
	font-size: 0.95em;
	font-weight: 400;
	font-family: 'Poppins';
	margin-right: 40px;
	text-decoration: underline;
}
}
@media only screen and (max-width: 1225px) {
.navigation {
	display: none;
}
}

.stick { 
top: 0;
width: 100%;
}

.stick + .content {
  padding-top: 102px;
}

.about {
	display: flex;
	justify-content: center;
}

/* Hamburger menu*/

@media only screen and (min-width: 1225px) {
.hamburgermenu{
	display: none;
}
}
@media only screen and (max-width: 1225px) {
.hamburgermenu{
	visibility: visible;
}
}
.menu-container {
 	height: 100%;
	width: 50%;
    float: right;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;  
	margin: auto;
	padding: 0;
}


.background--blur {
  background: "rgba:30,30,30,0.8";
}
 
.menu {
	font-size: 3em;
  	font-family: 'Poppins';
    font-weight: 200;
    color: #f4f4f4;
    text-align: center;
}
 
.menu div {
  	width: 70%;
	padding-top: 60px;
  	justify-content: center;
    text-align: center;
    margin: auto;
}
.menu div:last-child {
  	border: 0;
}

.menu--off {
	visibility: hidden;
  	position: absolute;
  	right: -100%;
  	width:100%;
  	display: block;
  	background: rgba(30,30,30,0.90);
  	min-height: 600px;
  	height: 88.5%;
  	margin-top:92px;
  	-webkit-transition: all 600ms;
  	transition: all 600ms;
}
 
.menu--on {
	visibility: visible;
  	right: 0;
  	box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.2);
  	-webkit-transition: all 600ms;
  	transition: all 600ms;
}
 
.material-design-hamburger button {
	display: block;
	margin-top: 6px;
	border: none;
	background: none;
	outline: 0;
	float:right;	
}
 
.material-design-hamburger__icon {
	padding: 2rem 1rem;
	cursor: pointer;
}
 
.material-design-hamburger__layer {
	display: block;
	padding-top:1.1px;
	padding-bottom:1.1px;
	width: 50px;
	height: 3px;
	background: #f4f4f4;
	position: relative;
	-webkit-animation-duration: 600ms;
          animation-duration: 600ms;
	-webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
 
.material-design-hamburger__layer:before, .material-design-hamburger__layer:after {
	display: block;
	width: inherit;
	height:5px;
	position: absolute;
	background: inherit;
	right: 0;
	content: '';
	-webkit-animation-duration: 600ms;
          animation-duration: 600ms;
	-webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
 
.material-design-hamburger__layer:before {
	bottom: 200%;
}
 
.material-design-hamburger__layer:after {
	top: 200%;
}
 
.material-design-hamburger__icon--to-arrow {
  -webkit-animation-name: material-design-hamburger__icon--slide;
          animation-name: material-design-hamburger__icon--slide;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
 
.material-design-hamburger__icon--to-arrow:before {
  -webkit-animation-name: material-design-hamburger__icon--slide-before;
          animation-name: material-design-hamburger__icon--slide-before;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
 
.material-design-hamburger__icon--to-arrow:after {
  -webkit-animation-name: material-design-hamburger__icon--slide-after;
          animation-name: material-design-hamburger__icon--slide-after;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
 
.material-design-hamburger__icon--from-arrow {
  -webkit-animation-name: material-design-hamburger__icon--slide-from;
          animation-name: material-design-hamburger__icon--slide-from;
}
 
.material-design-hamburger__icon--from-arrow:before {
  -webkit-animation-name: material-design-hamburger__icon--slide-before-from;
          animation-name: material-design-hamburger__icon--slide-before-from;
}
 
.material-design-hamburger__icon--from-arrow:after {
  -webkit-animation-name: material-design-hamburger__icon--slide-after-from;
          animation-name: material-design-hamburger__icon--slide-after-from;
}
 
@-webkit-keyframes material-design-hamburger__icon--slide {
  0% {
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
 
@keyframes material-design-hamburger__icon--slide {
  0% {
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
 
@-webkit-keyframes material-design-hamburger__icon--slide-before {
  0% {
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
}
 
@keyframes material-design-hamburger__icon--slide-before {
  0% {
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin: 3% 37%;
    width: 75%;
  }
}

 
@-webkit-keyframes material-design-hamburger__icon--slide-after {
  0% {
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
}
 
@keyframes material-design-hamburger__icon--slide-after {
  0% {
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
}
 
@-webkit-keyframes material-design-hamburger__icon--slide-from {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
  }
}
 
@keyframes material-design-hamburger__icon--slide-from {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
  }
}
 
@-webkit-keyframes material-design-hamburger__icon--slide-before-from {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
  100% {
  }
}
 
@keyframes material-design-hamburger__icon--slide-before-from {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
  100% {
  }
}
 
@-webkit-keyframes material-design-hamburger__icon--slide-after-from {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin: 3% 37%;
    width: 75%;
  }
  100% {
  }
}
 
@keyframes material-design-hamburger__icon--slide-after-from {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin: 3% 37%;
    width: 75%;
  }
  100% {
  }
}


/* Footer */
@media only screen and (max-width: 900px) {
	.footer {
		display: none;
	}
}

@media only screen and (min-width: 1225px) {
.footer {
	min-width: 100%;
	font-family:'Poppins';
	background-color: #1e1e1e;
	display: flex;
	page-break-before: auto;
}

.footer-container {
	padding-top: 50px;
    padding-bottom: 50px;
	display: flex;
	justify-content: center;
	width: 80%;
	margin: auto;
}

.footer-column {
	width:20% ;
}
}
@media only screen and (min-width: 900px) {
	.mobile-footer {
		display: none;
	}
}
@media only screen and (max-width: 900px) {
	.mobile-footer {
		min-width: 100%;
		font-family:'Poppins';
		background-color: #1e1e1e;
		display: flex;
		page-break-before: auto;
	}
	
	.mobile-footer-container {
		padding-top: 30px;
		padding-bottom: 30px;
		display: block;
		justify-content: center;
		width: 80%;
		margin: auto;
	}
	
	.mobile-footer-column {
		width:100% ;
	}
	}
